<a href="https://colab.research.google.com/github/spshreya/Recommendation_system/blob/master/recsys_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [95]:
from google.colab import files
uploaded = files.upload()

Saving mtcars.csv to mtcars (2).csv

In [96]:
df=pd.read_csv('mtcars.csv')
df.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [97]:
t=[]
for i in range(0, 4): 
    ele = float(input()) 
  
    t.append(ele) 
      
print(t)

15
300
160
3.2
[15.0, 300.0, 160.0, 3.2]

In [98]:
#t=[15,300,160,3.2]
X=df.iloc[:,[1,3,4,6]].values
X[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [99]:
type(t)

list

In [0]:
import sklearn
from sklearn.neighbors import NearestNeighbors

In [0]:
nbrs=NearestNeighbors(n_neighbors=1).fit(X)

In [102]:
#print(nbrs.kneighbors([t]))
import itertools
a=nbrs.kneighbors([t])
out = list(itertools.chain(*a)) 
type(out)

list

In [103]:
out

[array([10.77474942]), array([22])]

In [0]:

a = ' '.join([str(elem) for elem in out])

In [105]:
type(a)
print(a)

[10.77474942] [22]

In [106]:
b=a.split('[') 
b

['', '10.77474942] ', '22]']

In [107]:
x= ' '.join([str(elem) for elem in b])
x

' 10.77474942]  22]'

In [108]:
c=x.split(']') 
c

[' 10.77474942', '  22', '']

In [109]:
y= ' '.join([str(elem) for elem in c])
y

' 10.77474942   22 '

In [0]:
d=y.split(' ') 
e=d[1]
f=float(e)

In [0]:
import math
g=math.ceil(f)

In [112]:
df.iloc[[g],:]

         model   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  carb
11  Merc 450SE  16.4    8  275.8  180  3.07  4.07  17.4   0   0     3     3

MORE **RECOMMENDATIONS**

In [113]:
e2=d[4]
f2=float(e2)
g2=math.ceil(f2)
df.iloc[[g2],:]

          model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2