<a href="https://colab.research.google.com/github/spshreya/Recommendation_system/blob/master/recsys_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
from google.colab import files
uploaded = files.upload()

Saving mtcars.csv to mtcars.csv

In [0]:
df=pd.read_csv('mtcars.csv')
df.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [0]:
t=[15,300,160,3.2]
X=df.iloc[:,[1,3,4,6]].values
X[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [0]:
import sklearn
from sklearn.neighbors import NearestNeighbors

In [0]:
nbrs=NearestNeighbors(n_neighbors=1).fit(X)

In [0]:
print(nbrs.kneighbors([t]))

(array([[10.77474942]]), array([[22]]))

In [0]:
df.iloc[[10,11,22],:]

      car_names   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  crab
10    Merc 280C  17.8    6  167.6  123  3.92  3.440  18.9   1   0     4     4
11   Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.4   0   0     3     3
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2