<a href="https://colab.research.google.com/github/spshreya/Recommendation_system/blob/master/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import files
uploaded = files.upload()

Saving chefmozcuisine.csv to chefmozcuisine.csv

In [0]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('chefmozcuisine.csv')
df.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

In [10]:
from google.colab import files
uploaded = files.upload()

Saving rating_final.csv to rating_final.csv

In [15]:
rtng=pd.read_csv('rating_final.csv')
rtng.head()

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

Rating on the basis of count

In [16]:
rating_count=pd.DataFrame(rtng.groupby('placeID')['rating'].count())    #counting on the basis of count
rating_count.sort_values('rating',ascending=False).head()             #sorting values in decending

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [19]:
most_rated_places=pd.DataFrame([135085,132825,135032,135052,132834],index=np.arange(5),columns=['placeID'])
summary=pd.merge(most_rated_places,df,on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican